header {
    padding: 10px 15px;
}

header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 200px;
}

header a{
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 5px;
}

header a:hover {
    border-bottom: #000 2px solid;
}