.secao-capa {
    background: linear-gradient(50deg, #000113 0%, #04061D 80%, #04061D 100%);
    background-image: url('/public/assets/capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 80vh;
}

.secao-capa div {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secao-capa p, .secao-capa h1, .secao-capa h2 {
    max-width: 600px;
    text-shadow: #000 2px 2px 2px;
}

.secao-capa h2 {
    font-size: 36px;
    color: #fff;
}

.secao-capa p {
    font-size: 26px;
    color: #fff;
}

.secao-capa h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    line-height: 70px;
}