.secao-contato {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    background-color: rgb(123, 50, 44);
    font-size: 16px;
}

.secao-contato h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.container-contato {
    display: flex;
    justify-content: center;
}

.contato-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.contato-conteudo div {
    margin: 0 5px 5px 0;
    display: flex;
    align-items: center;
}

.contato-conteudo img {
    width: 18px;
}

.contato-conteudo span {
    font-size: 16px;
    margin-left: 10px;
}